@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .btn {
        @apply rounded-sm py-2 px-3 text-sm font-medium;
    }
}

button:focus {
    outline: none;
}

@keyframes player-btn-fadeout {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}

.player-btn {
    animation: 500ms player-btn-fadeout forwards;
}
