@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .btn {
        @apply rounded-sm py-2 px-3 text-sm font-medium;
    }

    .navbar {
        @apply flex items-center justify-between bg-white py-3 px-6 text-gray-700 w-full;
    }

    .navbar[dark] {
        @apply bg-gray-800 text-white;
    }

    .navbar[dark] .search-bar input {
        @apply bg-gray-900 border-gray-700;
    }

    .navbar[dark] .search-bar button {
        @apply bg-gray-700 border-gray-700 text-gray-600;
    }
}

button:focus {
    outline: none;
}

@keyframes player-btn-fadeout {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(2);
    }
}

#video_player {
    max-height: 80vh;
}

.fullscreen-mode .navbar {
    position: fixed;
}

.fullscreen-mode::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.fullscreen-mode {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fullscreen-mode #video_player {
    max-height: 100vh;
    height: 100vh;
}

.player-btn {
    animation: 500ms player-btn-fadeout forwards;
}
